.project
.settings/org.eclipse.m2e.core.prefs
mock-bank/.classpath
mock-bank/.gitignore
mock-bank/.project
mock-bank/.settings/.jsdtscope
mock-bank/.settings/org.eclipse.jdt.core.prefs
mock-bank/.settings/org.eclipse.m2e.core.prefs
mock-bank/.settings/org.eclipse.wst.common.component
mock-bank/.settings/org.eclipse.wst.common.project.facet.core.xml
mock-bank/.settings/org.eclipse.wst.jsdt.ui.superType.container
mock-bank/.settings/org.eclipse.wst.jsdt.ui.superType.name
mock-bank/.settings/org.eclipse.wst.validation.prefs
mock-domain/.classpath
mock-domain/.gitignore
mock-domain/.settings/.jsdtscope
mock-domain/.settings/org.eclipse.core.resources.prefs
mock-domain/.settings/org.eclipse.jdt.core.prefs
mock-domain/.settings/org.eclipse.m2e.core.prefs
mock-domain/.settings/org.eclipse.wst.common.component
mock-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
mock-domain/.settings/org.eclipse.wst.jsdt.ui.superType.container
mock-domain/.settings/org.eclipse.wst.jsdt.ui.superType.name
mock-domain/.settings/org.eclipse.wst.validation.prefs
